:root, body, html {
    background: rgb(22,0,36);
    background: -moz-linear-gradient(90deg, rgba(22,0,36,1) 0%, rgba(139,44,107,1) 0%, rgba(237,23,79,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(22,0,36,1) 0%, rgba(139,44,107,1) 0%, rgba(237,23,79,1) 100%);
    background: linear-gradient(90deg, rgba(22,0,36,1) 0%, rgba(139,44,107,1) 0%, rgba(237,23,79,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#160024",endColorstr="#ed174f",GradientType=1);}

.h1 {
    font-weight: 800;
}

.noPMSides {
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
}

@media (max-width: 2600px) {
.scaleSVG {
transform: scale(.3);
}   
}

@media (max-width: 450px) {
.scaleSVG {
    transform: scale(.5);
}
}

@media (min-width: 1000px) {
.mTop {
        margin-top: -2rem;
    }
}